<button class="btn btn-success mr-2" (click)="onNewVehicle('coupe')">New Coupe</button>
<button class="btn btn-success mr-2" (click)="onNewVehicle('sedan')">New Sedan</button>
<button class="btn btn-success mr-2" (click)="onNewVehicle('minivan')">New MiniVan</button>
<button class="btn btn-success mr-2" (click)="onNewVehicle('motorcycle')">New Motorcycle</button>
<div class="row">
    <div class="col-md-5">
        <app-vehicle-list></app-vehicle-list>
    </div>
    <div class="col-md-7">
        <router-outlet></router-outlet>
    </div>
</div>


